footer{
  height: 40px;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondColor);
  border-radius: 10px;
}

.left-foot{
  display: flex;
  align-items: center;
}
.left-foot a:hover {
  cursor: pointer;
  color: white;
}

.right-foot{
  display: flex;
  align-items: center;
}
.right-foot a:hover {
  cursor: pointer;
  color: white;
}
