<div class="overallContainer">
    <div class="websiteTitle">
        <h1>Animals Care</h1>
    </div>
    <div class="websitePurpose">
        <h2>Concerned about the wildlife of our world?</h2>
        <h3>As the current Covid-19 crisis reminds us, the poaching of endangered animals is a global reality.
            Moreover, human activity has been impacted by this crisis and we have seen a massive return of wildlife to areas previously reserved to humans.
            When nature is given a chance, it takes back its rights!</h3>
    </div>
</div>
