.overallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countryContainer {
    display: flex;
    align-items: center;
}
.countryContainer * {
    margin-right: 10px;
}

.imgContainer {
    width: max-content;
}
.imgContainer img {
    height: 200px;
    width: 400px;
}

.countryDescription {
    width: auto;
}
.countryContainer p {
    margin: 5px;
}

.speciesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.specie {
    display: flex;
    align-items: center;
    width: 40%;
}
.specie * {
    margin-top: 10px;
    margin-right: 10px;
}

.description-text{
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
