<pgc-search (countrySelected)="getCountrySelected($event)"></pgc-search>
<div class="overallContainer">
    <div class="countryContainer">
        <div class="imgContainer">
            <img src="https://via.placeholder.com/200x200">
        </div>
        <div class="countryDescription">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia delectus sint cupiditate. Numquam rem mollitia sunt cupiditate, tenetur assumenda aut animi culpa commodi pariatur minima, maiores cum provident iure nulla!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci vel aut corrupti rerum est voluptates earum quod labore facilis, soluta magni repudiandae voluptatum eaque id impedit error esse inventore! Voluptas.</p>
        </div>
    </div>
    <div class="speciesContainer" *ngFor="let animalOfCountry of animalsByCountry">
        <div class="specie">
            <div class="specieImg">
                <img src="https://via.placeholder.com/100x100">
            </div>
            <div class="specieDescription">
                <p>{{animalOfCountry.scientific_name}}</p>
            </div>
        </div>
    </div>
</div>

