.overallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.imgContainer {
    width: max-content;
}
.imgContainer img {
    height: 200px;
    width: 400px;
}

.countryDescription {
    text-align: center;
    width: 66%;
    margin: 15px;
}

.speciesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 66%;
    margin-top: 10px;
}

.specie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    height: 400px;
    width: 45%;
    text-align: center;
    margin-top: 50px;
    background-color: var(--CardsBackgroundColor);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px grey;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
    box-shadow: 0 14px 28px coral, 0 10px 10px var(--secondColor);
    cursor: pointer;
    }
}

.specie * {
    margin: 10px;
    padding: 0px;
}
.specie h3 {
    text-decoration: underline var(--secondColor);
}

.specie p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.description-text{
  display: flex;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
