<div class="overallContainer">
    <div class="countryContainer">
        <div class="imgContainer">
            <img src="{{flagUrl}}">
        </div>
        <div class="countryDescription">
            <p> {{countryDescription}} </p>
        </div>
    </div>

    <div class="speciesContainer">
        <div class="specie" *ngFor="let animal of animalDescriptions" (click)="searchAnimal(animal.name)">
            <h3>{{animal.name}}</h3>
            <img src="https://via.placeholder.com/100x100">
            <p class="description-text" [innerHTML]="animalDescription"></p>
        </div>

    </div>