.navbar{
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 3px;
}

.menu-link{
  width: 33.3%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-link:hover{
  background-color: var(--thirdColor);
  color: whitesmoke;
  cursor: pointer;
}
