.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.chartdiv {
    font-size: 0.8em;
    width: 70%;
    height: 700px;
    text-align: center;
}