<div class="overallContainer">
  <div class="animalResume">
    <div class="animalImg">
      <img src="https://via.placeholder.com/200x200">
    </div>
    <div class="animalDescription">
      <h3>COMMON NAME</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo obcaecati eaque esse, commodi iure
        exercitationem
        pariatur rem ad, rerum mollitia, molestiae velit neque sunt sed maxime temporibus optio atque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo obcaecati eaque esse, commodi iure
        exercitationem
        pariatur rem ad, rerum mollitia, molestiae velit neque sunt sed maxime temporibus optio atque.</p>
    </div>
  </div>
  <div class="animalIcons">
    <div class="icon">
      <p>Category</p>
      <img src="assets/img/3-Vulnerable-VU.svg">
    </div>
    <div class="icon">
      <p>Population trend</p>
      <img src="assets/img/RedArrow.png">
    </div>
    <div class="icon">
      <p>Population number</p>
      <img src="assets/img/trend.png">
    </div>
    <div class="icon">
      <p>Something</p>
      <img src="assets/img/GreenArrow.png">
    </div>
  </div>
</div>