.overallContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animalResume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.animalImg {
  height: 200px;
  width: 200px;
}

.animalDescription {
  width: 60%;
}

.animalIcons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px;
}
