.overallContainer {
    display: flex;
}

/* .animalImg {
    width: 35%;
}
.animalImg img {
    width: 100%;
    height: 100%;
} */

.animalResume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.animalResume * {
    text-align: center;
    margin: 15px;
}

.animalTitle * {
    text-decoration: underline var(--secondColor);
}

.animalIcons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    background-color: var(--CardsBackgroundColor);
}
.icon p {
    margin: 2px;
    color: var(--secondColor);
}

.icon img {
    height: 100px;
    width: 100px;
}

.animalDetails {
    display: flex;
    justify-content: center;
    width: 100%;
}
.animalDetails h3 {
    text-decoration: underline var(--secondColor);
}

.descriptionContainer {
    width: 85%;
}

.animalDescription {
    width: 100%;
}
.animalDescription * {
    margin: 5px;
}

p {
    color: var(--policeColor);
}
