<div class="overallContainer">
  <div class="animalResume">
    <div class="animalImg">
      <img src="https://via.placeholder.com/200x200">
    </div>
    <div class="animalDescription">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo obcaecati eaque esse, commodi iure
        exercitationem
        pariatur rem ad, rerum mollitia, molestiae velit neque sunt sed maxime temporibus optio atque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quo obcaecati eaque esse, commodi iure
        exercitationem
        pariatur rem ad, rerum mollitia, molestiae velit neque sunt sed maxime temporibus optio atque.</p>
    </div>
  </div>
  <div class="animalIcons">
    <div class="icon">
      <img src="https://via.placeholder.com/100x100">
    </div>
    <div class="icon">
      <img src="https://via.placeholder.com/100x100">
    </div>
    <div class="icon">
      <img src="https://via.placeholder.com/100x100">
    </div>
    <div class="icon">
      <img src="https://via.placeholder.com/100x100">
    </div>
  </div>
</div>