img{
  max-height: 350px;
  max-width: 350px;
}

.description{
  border: 1px solid black;
  display: block;
  width: 100px;
  text-align: center;
}

.animal-block{
  display: flex;
}

.description-block{
  margin-left: 10px;
}
