/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
body {
  background-color: var(--mainColor);
}

a {
  color: white;
  text-decoration: none;
}

=======
>>>>>>> 18e745cae69618a54157bd445a64f63715f2444b
:root {
  --mainColor: #166B00;
}

:root {
  --secondColor: #51A0AD;
}

:root {
  --thirdColor: #AD6387;
}

:root {
  --policeColor: white;
}

body {
  background: url(assets/img/dryEarth-wallPaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
}


p, a {
  font-size: 1em;
  font-family: 'Volkhov', serif;
  color: var(--policeColor);
  text-decoration: none;
  margin: 5px;
}
h4 {
  font-size: 1.3em;
  font-family: 'Volkhov', serif;
  color: var(--policeColor);
  margin: 5px;
}
h3 {
  font-size: 1.6em;
  font-family: 'Volkhov', serif;
  color: var(--policeColor);
  margin: 5px;
}
h2 {
  font-size: 1.9em;
  font-family: 'Volkhov', serif;
  color: var(--policeColor);
  margin: 5px;
}
h1 {
  font-size: 2.2em;
  font-family: 'Volkhov', serif;
  color: var(--policeColor);
  margin: 5px;
}

