:root {
    --mainBgColor: rgba(25,25,30);
    --secondColor: rgba(240,135,35);
    --policeColor: rgba(240, 240, 240);
    --CardsBackgroundColor: rgba(50,50,50, 0.4)
}

body {
        background: var(--mainBgColor);
        font-family: 'Volkhov', serif, 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto';
  color: var(--policeColor)
}

p, a, li{
  color: var(--policeColor)
}

h1 {
    font-size: 2.7vw;
}
h2 {
    font-size: 2.3vw;
}
h3 {
    font-size: 1.6vw;
}
p {
    font-size: 1.1vw;
}
a {
    font-size: 1vw;
    text-decoration: none;
}
