/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--mainColor);
}

a {
  color: white;
  text-decoration: none;
}

:root {
  --mainColor: #E8C682;
}

:root {
  --secondColor: #69645A;
}

:root {
  --thirdColor: #166B00;
}

:root {
  --policeColor: white;
}


p {
  font-size: 1vw;
  font-family: 'Volkhov', serif;
}
h4 {
  font-size: 1.7vw;
  font-family: 'Volkhov', serif;
}
h3 {
  font-size: 2.4vw;
  font-family: 'Volkhov', serif;
}
h2 {
  font-size: 3.1vw;
  font-family: 'Volkhov', serif;
}
h1 {
  font-size: 3.8vw;
  font-family: 'Volkhov', serif;
}

