<div class="searchbar-container">
    <label for="searchInput">Recherche (isocode pays OU nom scientifque de l'animal):</label>
    <div class="input-container">
      <input name="searchInput" type="text" [(ngModel)]="term">
      <button type="submit" (click)="sendRequest()">Submit</button>
    </div>

</div>


<div>
    <p *ngFor="let animal of animalByCountry">
        <span *ngIf="animal.category === 'CR' || animal.category === 'EW'">
            -- <a>{{animal.scientific_name}}</a> --
        </span>
    </p>
</div>


<div>
    <p *ngFor="let animalDetails of myAnimal">
        ID: {{animalDetails.taxonid}} <br>
        Scientific Name: {{animalDetails.scientific_name}} <br>
        Class: {{animalDetails.class}} <br>
        Order: {{animalDetails.order}} <br>
        Family: {{animalDetails.family}} <br>
        Common Name: {{animalDetails.main_common_name}} <br>
        Status IUCN: {{animalDetails.category}} <br>
        Population Trend: {{animalDetails.population_trend}} <br>
        Countries:
        <span *ngFor="let country of myAnimalCountries">-{{country.country}}-</span>
    </p>
</div>
