<div class="searchbarContainer">
    <label for="searchInput">Enter a Country :</label>
    <div class="inputContainer">
        <input name="searchInput" type="text" [(ngModel)]="criteria" (keyup)="searchResult()" placeholder="Research..."
            autofocus>
        <img src="assets/img/searchIcon.png">
        <div class="searchResultsContainer">
            <div *ngFor="let searchResult of searchResults" (click)="searchByCountry(searchResult)">
                <p [hidden]="isHidden">{{searchResult.country}}</p>
            </div>
        </div>
    </div>
</div>

