.logo {
    position: absolute;
    top: 1%;
    left: 3%;
    height: 60px;
    width: 60px;
}

.logo:hover{
  cursor: pointer;
}

.logo:focus {
    outline: none;
}

.searchbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 33%;
    height: 40px;
    background-color: rgba(50,50,50, 0.5);
    border-radius: 10px;
}

.inputContainer input {
    color: rgba(240, 240, 240, 0.6);
    font-size: 1.2vw;
    width: 75%;
    height: 80%;
    border: none;
    border-radius: 10px;
    background-color: rgba(50,50,50, 0.2);
    caret-color: rgba(240, 240, 240, 0.6);
}
.inputContainer input:focus {
    outline: none;
}
.inputContainer img {
    width: auto;
    height: 60%;
    margin: 5px;
    padding: 5px;
}
.inputContainer img:hover{
    cursor: pointer;
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: rgba(50,50,50, 1);
    border-radius: 20px;
    z-index: 2;
}
.searchbarContainer p {
    margin: 10px;
}
.searchbarContainer p:hover {
    cursor: pointer;
    color: rgba(240,135,35, 1);
    text-decoration: underline;
}

label{
    color: var(--secondColor);
    font-size: 1.2vw;
    margin-right: 10px;
}

.searchbar-a{
  color: rgba(240, 240, 240, 0.6);
  margin-left: 15px;
  font-style: italic;
}
.searchbar-a:hover{
  color: var(--secondColor);
  font-style: normal;
}
