.searchbarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
  margin-top: 15px;
}
.searchbarContainer p {
  margin: 5px;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
}

.searchbar-container label{
  text-align: center;
}
